/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/12/2016, 10:38:08
    Author     : dcampos
*/


body{
    padding-top: 70px;
}

/*Menu principal*/
.logo-principal{
    height: 20px;
    padding-right: 10px;
}

.home-pic{
    /*background-color: #31b0d5;*/
}

.popover{
    width: 300px;
    max-width: 300px;
}

.criar-conta{
    padding-top: 15px;
}

.opcoes-caixa{
    float: right;
}

.opcoes a{
    text-decoration: none;
}

.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
    font-size: 87px;
    color: #ccc;
}

.imagem-size{
    width: 87px;
    height: 70px;
}

.imagem-perfil-edit{
    padding-top: 10px;
}

#navbar-opcoes{
    /*padding-right: 10px;*/
    padding-left: 10px;
}

.pagina-direita{
    float: right;
    margin-right: 20px;
}

/*mapas*/

.mapa-pic{
    margin-top: 20px;
}

.fa-check-circle-o{
    color: green;
/*    padding-right: 5px;*/
}

.fa-ban{
    color: red;
/*    padding-right: 5px;*/
}

.glyphicon-question-sign{
/*    padding-right: 5px;*/
}


/*Ocorrencia*/
.novo-chamado{
    margin-bottom: 20px;
}

.pesquisar-chamado{
    margin-bottom: 20px
}

.menu-chamado{

}

.alert{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.ordenacao{
    float: right;
}

.ordenacao a {
    text-decoration: none;
}

/*Anexos*/
.imagem-anexo-preview{
    float: left;
    margin-right: 10px;
}

.imagem-anexo{
    width: 40px;
    height: 35px;
}

.anexo{
    margin-right: 15px;
    float: left; 
}

.titulo-anexo{
    float: left;
    /*margin-top: 0px;*/
}

.novo-anexo-icon{
    padding-top: 13px;
    padding-left: 10px
}

.vizualiza-anexo{
    float: left;
    margin-right: 10px;
}

.img-vizualiza-anexo{
    width: 60px;
    height: 60px;
}

.editar-anexo{
    float: left;
    margin-right: 10px;
}

.img-editar-anexo{
    width: 60px;
    height: 60px;
}

/*Relatorio*/

/*Mensagem*/
.mensagem{
    margin-top: 130px;
    padding: 10px 5px 20px 5px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7; 
    box-shadow: 6px 6px 20px 3px rgb(231, 231, 231);
   -webkit-box-shadow: 6px 6px 20px 3px rgb(231, 231, 231);
   -moz-box-shadow: 6px 6px 20px 3px rgb(231, 231, 231);
}

.logo-mensagem{
    width: 45px;
    height: auto;
    margin-right: 20px;
}

.alerta{
    margin-top: 30px;
}

.text-center{
    padding-left: 10px;
    padding-right: 10px;
}

/*Usuario*/
input[type=file] {
    display: none;
}

.arquivo{
    margin-top: 15px;
    text-align: center;
}

.imagem-usuario{
    height: 250px;
}

.foto-usuario{
    height: 250px;
    width: 270px;
}

.imagem-usuario>i{
    font-size: 250px;
}

.btn-usuario{
    float: right;
    padding-right: 15px;
}

.form-usuario{
    padding-top: 50px;
}