/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2017, 16:33:44
    Author     : dcampos
*/


body{
    font-family: sans-serif;
}

.cabecalho-erro{
    padding: 50px;
}

.logo-pic{
    float: left;
}

.logo{
    width: 80px;
}

.cabecalho-texto{
    padding-left: 100px;
}

.mensagem-erro{
    padding-left: 100px;
}
